<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="equipo_c_dbEntities" connectionString="metadata=res://*/Infraestructures.equipo_c_db.csdl|res://*/Infraestructures.equipo_c_db.ssdl|res://*/Infraestructures.equipo_c_db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pruebasqlserver.cpokq0cuyobk.eu-west-3.rds.amazonaws.com;initial catalog=equipo_c_db;persist security info=True;user id=admin;password=Root2_root22;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>