<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="equipo_c_dbEntities" connectionString="metadata=res://*/Infraestructures.equipo_c_db.csdl|res://*/Infraestructures.equipo_c_db.ssdl|res://*/Infraestructures.equipo_c_db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pruebasqlserver.cpokq0cuyobk.eu-west-3.rds.amazonaws.com;initial catalog=equipo_c_db;persist security info=True;user id=admin;password=Root2_root22;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>